@inherits Demo1WebPage
@using Bring2mind.Demo2025Mvc.Demo1.Common
@{
}

<h1>Hello DEMO 1 Module with ID @Dnn.ActiveModule.ModuleID</h1>
@if (Dnn.User.UserID > -1)
{
  <div>
    <p>Current User: <span style="font-weight: bold">@Dnn.User.DisplayName</span> with email <span style="font-weight: bold">@Dnn.User.Email</span></p>
  </div>
}

<div>
  <button type="submit" id="btn" class="dnnPrimaryAction">Test postback on home page</button>
</div>

@if (Dnn.User.UserID > -1)
{
  <div>
    <a href="@Url.Action("Index", "Foo", new { UserId = this.Dnn.User.UserID })">Go to your details page</a><br />
    <a href="@Url.Action("EditTest", "Foo")">An edit page</a><br />
    <a href="@Url.Action("Index", "Bar", new { UserId = this.Dnn.User.UserID })">Go to a special page page</a>
  </div>
}

